<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Trang chủ</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    h1 {
      margin-bottom: 20px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  </style>
</head>
<body>
<h1>Trang chủ</h1>

<h2>Câu lệnh truy vấn: <span th:text="${query}"></span></h2>
<hr>

<h2>Kết quả:</h2>
<table>
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="result : ${results}">
    <td th:text="${result.username}"></td>
    <td th:text="${result.password}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
